@media (min-width: 769px) {
  .desktop-only {
    display: block;
  }

  table .progress {
    height: 0.65rem;
  }

  .format-card {
    display: none;
  }

  .dashboard-grid > .col-lg-7 .card-body {
    padding: 1.5rem;
  }
}
